a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .online-form {
    position: relative;
  }

  .online-form .form-control {
    border-color: #f0f0f0;
    display: inline-block;
    vertical-align: top;
    border-radius: 50px;
    box-shadow: none;
    height: 50px;
    margin-right: 0.5em;
    padding-left: 15px;
  }

  .online-form input[type="email"] {
    width: 60%;
  }

  .online-form button {
    background: #29ca8e;
    border: 0;
    color: #ffffff;
    position: absolute;
    right: 6em;
    width: 25%;
  }

  .online-form button:hover {
    background: #202020;
    color: #ffffff;
  }

  @media screen and (max-width: 480px) {

    .online-form input[type="email"],
    .online-form .form-control {
      width: 85%;
    }

    .online-form .form-control {
      display: block;
      margin: 20px auto;
    }

    .online-form button {
      position: relative;
      right: 0;
    }

    .testimonial-image,
    .testimonial-info {
      height: 65vh;
    }
  }

  .form-register{
    max-width: 600px; /* Establece un ancho máximo de 600px */
    background: #303030;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px; /*Las esquinas del formato*/
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000000d3;
    vertical-align: top; /* Alinea los elementos en la parte superior */
    display: flex; /* Utiliza un contenedor flexible */
    flex-direction: column; /* Ajusta la dirección del flujo del contenido */
    width: 100%; /* Opcional: Establece un ancho para el contenido */
    flex-wrap: wrap;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.inputs {
  height: 60px;
  width: 60%;
  background: #2E363C;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 2px solid goldenrod;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
  border-radius: 20px; /*Las esquinas del formato*/
}