@import url('https://fonts.googleapis.com/css?family=Montserrat');
label,h1,button,input{
    font-size: 120% !important;
    color: rgb(60, 54, 45) !important;
    font-family: 'Montserrat';
  }

h2{
    color: goldenrod !important;
    font-family: 'Montserrat';
}


button{
    color: rgb(45, 45, 45) !important;
    background-color: goldenrod !important;
    border: none !important;
}

button:hover{
    color: black !important;
    background-color: orange !important;
    box-shadow: 7px 7px 7px #0000006c;
}